<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">Product List</span>
                    <button class="btn btn-success float-end"
                        routerLink="/create-product">New Product</button>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Location</th>
                                <th scope="col">Price</th>
                                <th scope="col">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>
                                    <i
                                        class="fa-regular fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <i
                                        class="fa-regular fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>
                                    <i
                                        class="fa-regular fa-pen-to-square text-primary"></i>
                                    <i class="fa-solid fa-trash-can text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>